@media (max-width: 1270px)
	.header
		padding-left: 30px
		padding-right: 30px

@media (max-width: 640px)
	.header
		padding: 9vw 30px

@media (max-width: 320px)
	.header
		&
			padding: 11vw 15px

		&__logo
			top: 53%
			left: 51%
