@media (max-width: 1440px)
	.header-socials
		&__item
			font-size: 17px
			margin-right: 35px

		&__icon_instagram
			width: 20px
			height: 20px

		&__icon_facebook
			width: 11px
			height: 21px

@media (max-width: 1270px)
	.header-socials
		&__item
			display: none

		&__opener
			display: block

@media (max-width: 640px)
	.header-socials
		&__opener
			width: 6.3vw
			height: 6.4vw
