extends ../layouts/base.pug
	
block header
	include ../components/header/header.pug
	
	include ../components/promo/promo.pug

block container
	include ../components/product/product.pug

	include ../components/about/about.pug
	
	include ../components/store/store.pug
	
	include ../components/socials/socials.pug
	
	include ../components/instagram/instagram.pug
