@media (max-width: 1024px)
	.store
		&__adress
			width: 70%

		&__title
			font-size: 30px

		&__subtitle
			font-size: 24px

@media (max-width: 768px)
	.store
		&__logo
			right: -30px

		&__logo img
			width: 70%

@media (max-width: 640px)
	.store
		&
			width: 79.5%

		&__map
			display: none

		&__map-mobile
			display: block

		&__logo
			display: none

		&__logo-mobile
			display: block

@media (max-width: 320px)
	.store
		&__subtitle
			font-size: 21px
