.store
	&
		width: 1440px
		margin: 0 auto
		position: relative
		box-shadow: 2px 2px 80px 0px rgba(#000, .1)

	&__logo
		position: absolute
		top: 45px
		right: 40px

	&__adress
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -75%)
		text-align: center

	&__title
		font-size: 60px
		line-height: 100px
		color: $font-color

	&__subtitle
		font-size: 30px
		line-height: 35px
		color: #7e7c7a
