.navigation
	&__item
		&
			float: left
			margin-right: 45px

		&:last-child
			margin-right: 10px

	&__link
		font-family: $ff-fnm
		font-size: 24px
		color: #fff
		transition: .2s

		&:hover
			color: darken(#fff, 20%)
