@media (max-width: 1440px)
	.navigation
		&__item
			margin-right: 35px

		&__link
			font-size: 17px

@media (max-width: 1270px)
	.navigation
		&__item
			display: none

		&__opener
			display: block

@media (max-width: 640px)
	.navigation
		&__opener
			width: 4.7vw
			height: 4vw
