+b.FOOTER.footer
	+e.UL.list
		+e.item
			img(src="assets/images/icons/wash.png", alt="")
		
		+e.item
			img(src="assets/images/icons/wash1.png", alt="")
		
		+e.item
			img(src="assets/images/icons/wash2.png", alt="")
		
		+e.item
			img(src="assets/images/icons/wash3.png", alt="")
				
		+e.item
			img(src="assets/images/icons/wash4.png", alt="")
