script(src='assets/libs/jquery/dist/jquery.min.js')
script(src='assets/libs/jquery.backgroundvideo/jquery.youtubebackground.js')
script(src='assets/libs/magnific-popup/jquery.magnific-popup.js')
script(src='./assets/scripts/main.js')
