@media (min-width: 768px)
	.navigation-popup
		&__link span
			margin-left: 45px

@media (max-width: 640px)
	.navigation-popup
		&__link
			padding: 5vw 0

@media (max-width: 500px)
	.navigation-popup
		&__link
			font-size: 7vw

@media (max-width: 425px)
	.navigation-popup
		&__link span
			margin-left: 65px

@media (max-width: 375px)
	.navigation-popup
		&__link span
			margin-left: 85px

@media (max-width: 320px)
	.navigation-popup
		&__link span
			margin-left: 100px
