@media (min-width: 1024px)
	.promo
		&
			min-height: 400px

@media (max-width: 1024px)
	.promo
		&
			height: 70vw

		&__video
			display: none

@media (max-width: 768px)
	.promo
		&
			height: 70vw

		&__text
			width: 100%
			padding: 0 70px

		&__title
			font-size: 80px

		&__subtitle
			font-size: 30px

@media (max-width: 640px)
	.promo
		&
			height: 111.8vw

		&__title
			font-size: 12.5vw

		&__subtitle
			font-size: 4.5vw
