.promo
	&
		position: relative
		z-index: 1

	&__video
		background: url(../images/videoframe.jpg) no-repeat
		background-size: cover
		width: 100%
		height: 820px

	&__text
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -60%)
		text-align: center

	&__title
		font-size: 140px
		line-height: 100px
		margin-bottom: 40px

	&__subtitle
		font-size: 54px
		width: 650px
		margin: 0 auto
