+b.SECTION.store
	+e.map
		img(src="assets/images/map.jpg", alt="")
	
	+e.logo
		img(src="assets/images/xstyle-logo.png", alt="")
	
	+e.adress
		+e.title
			h1.title offline store
		
		+e.subtitle
			p.subtitle 	Bulevardul Grigore Vieru 27, <br /> 
									|Chișinău, Молдова <br />
									|“X-Style” Shop
