+b.SECTION#store.store
	+e.map
		a(href="https://goo.gl/maps/gaSbjrP2r7v" target="_blank")
			img(src="assets/images/map.jpg", alt="")
	
	+e.map-mobile
		a(href="https://goo.gl/maps/gaSbjrP2r7v" target="_blank")
			img(src="assets/images/map-mobile.jpg", alt="")
	
	+e.logo(href="http://xstyle.md/catalogsearch/result/?q=snowl" target="_blank")
		img(src="assets/images/xstyle-logo.png", alt="")
		
	+e.adress
		+e.logo-mobile(href="http://xstyle.md/catalogsearch/result/?q=snowl" target="_blank")
			img(src="assets/images/xstyle-logo.png", alt="")
				
		+e.title
			h1.title offline store
		
		+e.subtitle
			p.subtitle 	Bulevardul Grigore Vieru 27, <br /> 
									|Chișinău, Moldova <br />
									|“X-Style” Shop
