doctype html
html
	head
		meta(charset='UTF-8')
		title Main page
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="assets/styles/main.css")
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800|Tinos' rel='stylesheet' type='text/css')

	body

		include ../helpers/bemto/bemto
		
		block body
			+b.layout
				+e.header
					block header
					
				+e.container
					block container
					
				+e.footer
					block footer

		include ../partials/scripts
		