doctype html
html
	head
		meta(charset="UTF-8")
		title Snowl Knit. Wear. Love
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="hand-knit cozy wear made in moldova, hand-knit hat, hand-knit snood, buy steal this hat graphite-grey, buy virgin cloud hat, buy forest set oatmeal-cilantro, snowl handmade hand-knit wear, xstyle snowl hand-knit wear hats")
		meta(name="keywords" content="snowl, hand-knit wear, handmade wear, knit, cozy wear, xstyle, knit moldova, hat, snood, buy hat, buy snood")
		link(rel="stylesheet", href="assets/styles/main.css")
		link(rel="stylesheet", href="assets/libs/magnific-popup/magnific-popup.css")
		link(rel="stylesheet", href="assets/libs/slick/slick.css")
	body

		include ../helpers/bemto/bemto
		
		block body
			+b.layout
				+e.header
					block header
					
				+e.container
					block container
					
					block footer
				
			block popups

		include ../partials/scripts
		
