+b.VIDEO.video(muted loop src="assets/images/snowl.mp4" type="video/mp4")
	//- poster="assets/images/videoframe.jpg"
	//- source(src="assets/images/video.mp4" type="video/mp4")
	//- iframe(src="https://www.youtube.com/embed/6fC__Sh1JEk?autoplay=1&controls=0&disablekb=1&modestbranding=1&showinfo=0&loop=1&rel=0&playlist=6fC__Sh1JEk", frameborder="0")
