+b.HEADER.header
	+e.socials
		include ./socials.pug
	
	+e.logo
		include ./logo.pug
	
	+e.navigation
		include ./navigation.pug

+b.HEADER.header._sticky
	+e.socials
		include ./socials_sticky.pug
	
	+e.logo
		include ./logo_sticky.pug
	
	+e.navigation
		include ./navigation_sticky.pug
