+b.NAV.navigation
	+e.UL.list
		+e.item
			+e.link(href="#") Buy on Etsy
		
		+e.item
			+e.link(href="#") About
		
		+e.item
			+e.link(href="#") Offline Store
		
		+e.item
			+e.link(href="#") Contacts
