+b.NAV.navigation._sticky
	+e.UL.list
		+e.item
			+e.link(href="https://www.etsy.com/shop/snowlco" target="_blank") Buy on Etsy
		
		+e.item
			+e.link(href="#about") About
		
		+e.item
			+e.link(href="#store") Offline Store
		
		+e.item
			+e.link(href="#socials") Contacts
	
	+e.opener(href="#")
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 21"><path d="M0 0v3h27V0H0zm0 12h27V9H0v3zm0 9h27v-3H0v3z"/></svg>
