html
body,
	height: 100%

body
	font-size: 16px
	position: relative

input,
button,
textarea
	@mixin reset-input

button
	cursor: pointer
	&::-moz-focus-inner
		border: 0
		padding: 0

a
	text-decoration: none
	border: none
	outline: none

em
i
	font-style: italic

b
strong
	font-weight: bold
