+b.popup._navigation
	+e.body
		+e.title
			h2.title Menu
		
		+e.content
			+b.NAV.navigation-popup
				+e.UL.list
					+e.item
						+e.link(href="https://www.etsy.com/shop/snowlco" target="_blank") 
							span Buy on Etsy
							
					+e.item
						+e.link(href="#about") 
							span About
							
					+e.item
						+e.link(href="#store") 
							span Offline Store
							
					+e.item
						+e.link(href="#socials") 
							span Contacts
		
		+e.BUTTON.close(type="button")
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><path d="M26 1.4L24.6 0 13 11.6 1.4 0 0 1.4 11.6 13 0 24.6 1.4 26 13 14.4 24.6 26l1.4-1.4L14.4 13z"/></svg>
