+b.info
	+e.title Buy on Etsy.com
		+e.SPAN.title-icon
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 13"><path d="M8 6.4L1.9 0 0 1.7l4.6 4.8L0 11.3 1.9 13 8 6.6l-.1-.1z"/></svg>

	+e.subtitle
		p.subtitle 	We are a small team of handmade knitters based in Eastern Europe.<br />
								|We strive to bring our customers original and clean patterns, soft materials made of the warmest yarns.<br />
								|You can easily combine your colors in Etsy shop and come up with something perfect.
