+b.info
	+e.H1.title what’s we about
	
	+e.subtitle
		p.subtitle Our in-house design team values clean, contemporary design. We strive to bring our customers original patterns, soft materials made of the warmest yarns.
	
	+e.link(href="https://www.etsy.com/shop/snowlco" target="_blank") Buy on Etsy.com
		+e.SPAN.link-icon
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 13"><path d="M8 6.4L1.9 0 0 1.7l4.6 4.8L0 11.3 1.9 13 8 6.6l-.1-.1z"/></svg>
