+b.SECTION.product
	+e.list
		+e.item
			+e.info
				include ./info.pug
		
		+e.item
			+e.specification
				+e.price $34.99
				
				+e.name blue-black gradient
				
				+e.description Hand-knit cozy wear made in Moldova. Hand-knit cozy wear made in Moldova.
			
			+e.image(href="assets/images/product1.png")
				img(src="assets/images/product1.png", alt="")
			
		+e.item
			+e.specification
				+e.price $34.99
				
				+e.name blue-black gradient
			
			+e.image(href="assets/images/product.png")
				img(src="assets/images/product.png", alt="")
		
		+e.item
			+e.specification
				+e.price $34.99
				
				+e.name blue-black gradient
			
			+e.image(href="assets/images/product2.png")
				img(src="assets/images/product2.png", alt="")
