+b.SECTION.product
	+e.list
		+e.item(onclick="window.open('https://www.etsy.com/shop/snowlco', '_blank');")
			+e.info
				include ./info.pug
		
		+e.item._slide
			+e.specification
				+e.price $29.00
				
				+e.name(href="https://www.etsy.com/ru/listing/479312224/steal-this-hat-graphite-grey" target="_blank") Steal this hat. Graphite-grey.
				
				+e.description This unisex beany hat is made of the soft yarn, wich consists 51% acrylic and 49% wool.

				+e.link(href="https://www.etsy.com/ru/listing/479312224/steal-this-hat-graphite-grey" target="_blank") Buy	it			
						+e.SPAN.link-icon
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 13"><path d="M8 6.4L1.9 0 0 1.7l4.6 4.8L0 11.3 1.9 13 8 6.6l-.1-.1z"/></svg>
								
			+e.image(href="assets/images/steal-this-hat-graphite-grey-big.jpg" style="margin-top: 3vw")
				img(src="assets/images/steal-this-hat-graphite-grey-small.jpg", alt="")
			
			+e.image._mobile
					img(src="assets/images/steal-this-hat-graphite-grey-big.jpg", alt="")
			
		+e.item._slide
			+e.specification
				+e.price $39.00
				
				+e.name(href="http://xstyle.md/shapka-snowl-virgin-cloud-hat.html" target="_blank") Virgin cloud hat. №2.
				
				+e.description Chunky and soft, this winter beanie has just the right amount of slouch. This unisex hat is made of the soft yarn, wich consists 47% acrylic and 53% virgin wool.

				+e.link(href="http://xstyle.md/shapka-snowl-virgin-cloud-hat.html" target="_blank") Buy	it			
						+e.SPAN.link-icon
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 13"><path d="M8 6.4L1.9 0 0 1.7l4.6 4.8L0 11.3 1.9 13 8 6.6l-.1-.1z"/></svg>

			+e.image(href="assets/images/virgin-cloud-hat-big.jpg" style="margin-top: 6vw")
				img(src="assets/images/virgin-cloud-hat-small.jpg", alt="")
			
			+e.image._mobile
					img(src="assets/images/virgin-cloud-hat-big.jpg", alt="")
		
		+e.item._slide
			+e.specification
				+e.price $59.00
				
				+e.name(href="https://www.etsy.com/ru/listing/479316748/forest-set-oatmeal-cilantro" target="_blank") Forest set. Oatmeal-cilantro.
			
				+e.description This set of a hat and infinity snood are made of super chunky acrylic yarn. It's chic in a simplistic and uncomplicated way, making this the perfect winter accessory.
				
				+e.link(href="https://www.etsy.com/ru/listing/479316748/forest-set-oatmeal-cilantro" target="_blank") Buy	it			
						+e.SPAN.link-icon
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 13"><path d="M8 6.4L1.9 0 0 1.7l4.6 4.8L0 11.3 1.9 13 8 6.6l-.1-.1z"/></svg>
		
			+e.image(href="assets/images/forest-set-oatmeal-cilantro-big.jpg" style="margin-top: 3vw")
				img(src="assets/images/forest-set-oatmeal-cilantro-small.jpg", alt="")
				
			+e.image._mobile
					img(src="assets/images/forest-set-oatmeal-cilantro-big.jpg", alt="")
